<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cadastro de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ client }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Data/Hora do cadastro: </strong> {{ date }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip }} <br />
  <br />
  <small>
   Realize esta entrega acessando o sistema FastFeet.
  </small>
</p>
